/*header-nav.css*/
header{
	display: inline;
}
nav{
	background-color: #039ae3;
	padding: 5px;
	position: sticky;
	top: 0;
	z-index: 2;
	border-radius: 0 0 10px 10px;
}
nav li{
	display: inline;
	list-style-type: none;
	margin: 0 15px;
}
nav a{
	font-size: 18px;
	text-decoration: none;
	color: #1cefff;
}
nav a:hover{
	font-weight: bold;
}
.navbar-header{
	font-size: 20px;
	padding: 60px !important;
	background-color: #00c8eb;
	color: #f9f9f9;
	font-weight: 350;
}

.navbar{
	position: sticky !important;
	z-index: 3;
}